<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/home/register.js" defer></script>
    <link rel="stylesheet" href="/css/home/register.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="register-form">
          <input id="userId" type="text" placeholder="id" />
          <input id="username" type="text" placeholder="name" />
          <input id="userPwd" type="password" placeholder="password" />
          <input
            id="confirm-userPwd"
            type="password"
            placeholder="password Check"
          />
          <button id="register-btn">create</button>
          <p class="message">
            Already registered? <a href="./login">Sign In</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
